<h3 style="text-align:center">Có một đơn hàng vừa được đặt bởi khách hàng vào lúc {{createdAt}}</h3>

<p>Thông tin khách hàng</p>
<ul style="padding-left: 10px">
   <li>Tên: {{customerName}}</li>
   <li>Số điện thoại: {{phone}}</li>
   <li>Email: {{email}}</li>
</ul>

<p>Thông tin đơn hàng</p>
<ul style="padding-left: 10px">
   <li>Mã định danh: {{orderId}}</li>
   <li>
        Sản phẩm:
         <ul style="padding-left: 10px">
         {{#each products}}
            <li>{{this.productName}} - {{this.quantity}}</li>
        {{/each}}
        </ul>
   </li>
   <li>Trạng thái: {{status}}</li>
   <li>Tình trạng thanh toán: {{isPaid}}</li>   
</ul>